button{
    &.normal{
        font-size: .9rem;
        font-weight: 600;
        padding: .9rem 1.67rem;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: .2s;
    }
    &.white{
        font-size: .86rem;
        font-weight: 600;
        padding: .79rem 1.2rem;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid white;
        outline: none;
        transition: .2s;
        margin-top: .4rem;
    }
}

