 @media (max-width: 799px) {
    #header{
        &__navbar{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100vh;
            width: 300px;
            background-color: #E3E6F3;
            box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
            padding: 5.01rem 0 0 .67rem;
            transition: .3s;
            li{
                margin-bottom: 1.8rem;
            }
        }
        

    }
    #mobile{
        display: flex;
        align-items: center;
        i{
            color: #1a1a1a;
            font-size: 1.8rem;
            padding-left: 1.25rem;

        }
    }
 }