#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 2.6rem;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 99999;
    position: sticky;
    top: 0;
    left: 0;
    
    &__navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        & li{
            list-style: none;
            padding: 0 1.2rem;
            position: relative;
            a{
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                color: #1a1a1a;
                transition: 0.3s ease;
                &.active{
                    color: $color-1;
                    &::after{
                        content: "";
                        width: 30%;
                        height: 2px;
                        background: $color-1;
                        position: absolute;
                        bottom: -4px;
                        left: 1.3rem;
                    }
                }
                &:hover{
                    color: $color-1;
                    &::after{
                        content: "";
                        width: 30%;
                        height: 2px;
                        background: $color-1;
                        position: absolute;
                        bottom: -4px;
                        left: 1.3rem;
                    }
                }
            }
        }
    }
}