#hero{
    background-image: url("../../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    h4{
        padding-bottom: .96rem;
    }
    h1{
        color: $color-1;
    }
    button{
        background-image: url('../../img/button.png');
        background-color: transparent;
        color: $color-1;
        border: 0;
        padding:  .96rem 5.2rem .96rem 5.2rem;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: .97rem;

        }
}