$color-1: #088178;

#hero{
    height: 90vh;
    width: 100%;
    background-size: cover;
    
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


    h1{
        color: $color-1;
        animation: moveInLeft 1.5s;
    }
    h2{
        animation: moveInRight 1.3s;
    }
    h4{
        animation: moveInLeft 1s;
    }
    button{
        animation: moveInRight 1.7s;
        background-color: transparent;
        color: $color-1;
        border: 0;
        padding:  .96rem 5.2rem .96rem 5.2rem;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: .97rem;
        transition: .18s;
        &:active{
            transform: scale(1.2);
        }
        }
       
}







@media (max-width: 799px) {
  
    #hero{
        padding: 0 2rem;
        background-position: -40rem 0;
        align-items: center;
        text-align: center;
        h1{
            font-size: 2.3rem;
        }
        h2{
           font-size: 2.1rem;
        }
        h4{
            font-size: 1.9rem;
            padding-bottom: .96rem;
        }
    }
   
 }



 @media (min-width: 799.01px) {

    #hero{
        padding: 0 5rem;
        background-position: top 25% right 0;
        align-items: flex-start;
        h4{
            padding-bottom: .96rem;
        }
    }
 
}

@media (max-width: 360.01px) {

   #hero{
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h4{
        font-size: 1.85rem;
    }
}
}