#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    h4{
        color: #fff;
        font-size: 1rem;
    }
    h2{
        color: #fff;
        font-size: 1.7rem;
        padding: 10px 0;
        span{
            color: #ef3636;
        }
    }
    button:hover{
        background: $color-1;
        color:#fff;
    }
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("../img/banner/b17.jpg");
        
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 1.8rem;
        &:hover{
            button{
                background: $color-1;
                border: 1px solid $color-1;
            }
        }
    }
    .banner-box2{
        background-image: url("../img/banner/b10.jpg");
    }
    h4{
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
    }
    h2{
        color: #fff;
        font-size: 1.7rem;
        font-weight: 800;
    }
    span{
        color: #fff;
        font-size: .96rem;
        font-weight: 500;
    }
    
}
