#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 2.6rem;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 99999;
    position: sticky;
    top: 0;
    left: 0;
    
    
}

