
#newsletter.newsletter-shop{
   background-image: url('../img/banner/b1.jpg');
    #shop-form{
        display: flex;
        
        position: relative;
        .reset-position{
            &:active{
                transform: scale(1.1);
            }
            &:hover{
                background-color: #07645e;
            }
        }
    }
}

#pagination{
    text-align: center;
    & a{
        text-decoration: none;
        background-color: $color-1;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        &:active{
            transform: scale(1.1);
        }
        &:hover{
            background-color: #07645e;
        }
        i{
            font-size: 16px;
            font-weight: 600;
        }
    }
}


#prodetails{
    display: flex;
    margin-top: 1.3rem;
    .single-pro-image{
        width: 40%;
        margin-right: 50px;
    }

    .small-img{
        &-group{
            display: flex;
            justify-content: space-between;
        }
       &-col {
            flex-basis: 24%;
            cursor: pointer;
            & img{
                width: 100%;
            }
       }
    }

    .single-pro-details{
        width: 50%;
        padding-top: 30px;
        & h4{
            padding: 40px 0 20px 0;
        }
        & h2{
            font-size: 2rem;
        }
        & select{
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
        }
        & input{
            width: 50px;
            height: 47px;
            padding-left: 10px;
            font-size: 16px;
            margin-right: 10px;
            &:focus{
                outline: none;
            }
        }
        & button{
            background-color: $color-1;
            color: white;
        }
        & span{
            line-height: 25px;
        }
    }

    
    
   
}






@media (max-width: 799px) {
    #newsletter{
        margin: auto 0;
        #shop-form{
            
            .reset-position{
                position: absolute;
                right: -10%;
                bottom: 1.08%;
                padding: 1.04rem 2rem;
               
            }
        }
    }

    
// #prodetails{
    
//     margin-top: 1.3rem;
//     padding-bottom: 1rem;
//     .single-pro-image{
//         width: 100%;
//         margin-right: 30px;
//     }

//     .small-img{
//         &-group{
//             display: flex;
//             justify-content: space-between;
//         }
//        &-col {
//             flex-basis: 24%;
//             cursor: pointer;
//             & img{
//                 width: 100%;
//             }
//        }
//     }

//     .single-pro-details{
//         text-align: center;
//         padding-top: 30px;
//         & h4{
//             padding: 10px 0 0px 0;
//             font-size: 1rem;
//         }
//         & h2{
//             font-size: 1.3rem;
        
//         }
//         & select{
//             display: block;
//             padding: 5px 10px;
//             margin-bottom: 10px;
//             margin: .5rem auto;
//         }
//         & input{
//             width: 35px;
//             height: 47px;
//             padding-left: 10px;
//             font-size: 16px;
//             margin-right: 10px;
//             &:focus{
//                 outline: none;
//             }
//         }
//         & button{
//             background-color: $color-1;
//             color: white;
//             padding: .6rem;
//         }
//         & span{
//             line-height: 25px;
//         }
//     }

    
    
   
// }


#prodetails{
    display: flex;
    flex-direction: column;
    & .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    & .single-pro-details{
        width: 100%;
        padding-left: 8%;
    }
}
}

@media (min-width: 799.01px) {
    #newsletter.newsletter-shop{
        justify-content: center;
        align-items: center;
        #shop-form{
            transform: translateX(-10%);
            .reset-position{
                position: absolute;
                right: -5rem;
                bottom: .9%;
                padding: 1.04rem 2rem;
            }
        }
    }

    

}
